
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
<h1>Security</h1>

<!-- Back Button -->
<form action="{{ url_for('settings_bp.settings') }}" method="POST" style="margin-bottom: 20px;">
  <button class="back-btn" type="submit">Back</button>
</form>



<!-- Flash Messages -->
<div class="flash-message">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<!-- Change Password Form -->
<form method="POST" class="password-form">
    <h2>Change Password</h2>
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.old_password.label(class="form-label") }}
    {{ form.old_password(class="form-input") }}
  </div>

  <div class="form-group">
    {{ form.new_password.label(class="form-label") }}
    {{ form.new_password(class="form-input") }}
  </div>

  <div class="form-group">
    {{ form.confirm_password.label(class="form-label") }}
    {{ form.confirm_password(class="form-input") }}
  </div>

  <div class="form-group">
    {{ form.submit(class="btn-submit") }}
  </div>
</form>
