<h1>Security</h1>

<form action="{{url_for('settings_bp.settings')}}",method='POST'>
    <button class="back-btn" type="submit" >back</button>
</form>

<h2>Change Password</h2>

    <div class="flash-message">
         {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.old_password.label }} <br>
        {{ form.old_password(class="form-control") }}
    </div>

    <div>
        {{ form.new_password.label }} <br>
        {{ form.new_password(class="form-control") }}
    </div>

    <div>
        {{ form.confirm_password.label }} <br>
        {{ form.confirm_password(class="form-control") }}
    </div>

    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>
