<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_transaction.css') }}">
</head>
<body>
    <div class="container">
        <h2>Edit Transaction</h2>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}


            <!-- Back Button -->
      <a href="{{ url_for('transaction_bp.transaction') }}" class="back-btn">Back</a>


        <!-- Edit Transaction Form -->
        <form method="POST">
            {{ form.hidden_tag() }}
      
            <div class="form-group">
                {{ form.amount.label }}
                {{ form.amount(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.category.label }}
                {{ form.category(class="form-control") }}
            </div>

        <div class="radio-group">
          {{ form.type.label }}
            {% for subfield in form.type %}
                <label>{{ subfield() }} {{ subfield.label.text }}</label>
            {% endfor %}
        </div>

            <div class="form-group">
                {{ form.date.label }}
                {{ form.date(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
            </div>

            {{ form.submit(class="btn") }}
        </form>
    </div>
</body>
</html>
