{%extends 'master.html' %}
{% block title %}Monthly Budgets - Smart Spend{% endblock %}
 {%block content%}


<div class="monthly_budget">
    <h2 class="title">Set your monthly Budget</h2>
<h2>Set Budget</h2>

<form method="POST">
  {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.category.label }} <br>
            {{ form.category(class="form-control") }}
        </div>
        <br>
        

       <div class="form-group">
            {{ form.amount.label }} <br>
            {{ form.amount(class="form-control") }}
        </div>
        <br>
  <button type="submit">{{ form.submit.label.text }}</button>
</form>
</div>







<div class="show-budget">
<h3>Your Budgets</h3>
<ul>
  {% for b in budget_data %}
  <h4>{{ b.category }}</h4>
  <p><strong>Budget:</strong> Rs {{ b.budget }}</p>
  <p><strong>Spent:</strong> Rs {{ b.spent }}</p>
  <p><strong>Remaining:</strong> Rs {{ b.remaining }}</p>
    </li>
  {% endfor %}
</ul>
</div>


{% endblock %}