

<form method="POST" class="login-form">
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    {{ form.hidden_tag() }}



    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-input") }}
        {% if form.email.errors %}
            <ul class="error-list">
                {% for error in form.email.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>



    <div class="form-group">
        {{ form.submit(class="btn-submit") }}
    </div>
    </form>