<form method="POST">
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>


  {{ form.hidden_tag() }}
  <p>{{ form.password.label }}
     {{ form.password() }}</p>
  <p>{{ form.confirm_password.label }}
     {{ form.confirm_password() }}</p>
  <p>{{ form.submit() }}</p>

</form>
