{% extends 'master.html' %}
{% block title %}Settings - Smart Spend{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
{% endblock %}

{% block content %}

<main class="settings-container">
  <section class="settings-section">
    <h3>Profile</h3>
    <a href="{{ url_for('settings_bp.edit_informations') }}">Edit your account information</a>
  </section>

  <section class="settings-section">
    <h3>Security</h3>
    <a href="{{ url_for('settings_bp.change_password') }}">Change Password</a>
  </section>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
