<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms - Smart Spend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terms.css') }}">
</head>
<body>
     <h1>Terms of Use</h1>

    <section>
        <h2>Purpose of the App</h2>
        <p>Smart Spend is a personal finance management tool designed to help users track expenses, analyze savings, and improve financial habits.</p>
    </section>

    <section>
        <h2>User Responsibility</h2>
        <p>Users are responsible for the accuracy of the data they enter (income, expenses, savings goals).</p>
        <p>Smart Spend is a support tool only and does not provide professional financial advice.</p>
    </section>

    <section>
        <h2>Account Security</h2>
        <p>Users must keep their login credentials secure.</p>
        <p>Smart Spend will not be responsible for unauthorized access caused by weak or shared passwords.</p>
    </section>

    <section>
        <h2>Data Use</h2>
        <p>Data entered by the user is stored securely in the system’s database and is used only for expense tracking, reporting, and analysis.</p>
    </section>

    <section>
        <h2>Limitations of Liability</h2>
        <p>Smart Spend is provided “as is” without warranties of any kind.</p>
        <p>The developers are not liable for any financial losses, miscalculations, or decisions made using the app.</p>
    </section>
</body>
</html>